#ace-editor-wrapper{
    position: absolute;
    margin-top: 10px;
    width: 60%;
    height: 500px;
    left: 0;
    border:  2px solid;
}
.messages{
    width: 60%;
    height: 200px;
    border:  2px solid;
}
.structure{
    float:right;
   padding: 10px;
    width : 35%;
    height: 500px;
    border:  2px solid;
    overflow: scroll;
}

.form{
    position: absolute;
    top: 800px;
    width: 85%;
}